package ui

templ LoadingIndicator(text string) {
	<div class="loading-indicator">
		<div class="loading-dot"></div>
		<div class="loading-dot"></div>
		<div class="loading-dot"></div>
		<span>{ text }</span>
	</div>
}
