package ui

templ LoadingIndicatorSmall() {
	<div class="flex items-center justify-center py-8">
		<div class="h-5 w-5 animate-spin border-2 border-(--panel-soft) border-t-(--accent)"></div>
	</div>
}
